# Database
DATABASE_URL="postgresql://user:password@localhost:5432/mydb?schema=public"

# Next Auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-nextauth-secret"
SECRET="your-nextauth-secret" # Used in middleware

# OAuth Providers
GITHUB_ID="your-github-id"
GITHUB_SECRET="your-github-secret"
GOOGLE_ID="your-google-id"
GOOGLE_SECRET="your-google-secret"

# Cloudinary
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"
CLOUDINARY_URL="cloudinary://api_key:api_secret@cloud_name"

# App Configuration
USER_FOLDER="users"
POSTS_FOLDER="posts"
NODE_ENV="development"
